### Visual Studio / Editor
.vscode/
.vscode/*
.history/

### PlatformIO / Embedded build artifacts
.pio/
.pioenvs/
.piolibdeps/
build/
*.elf
*.bin
*.hex
*.map

### OS files
.DS_Store
Thumbs.db

### Logs / Env
*.log
.env

### Node / dependencies
node_modules/

### Binaries / object files
*.o
*.a
*.lib
*.exe
*.dll

# Ignore Python cache
__pycache__/
*.py[cod]
